.button-text-padding {
  padding: 5px 25px;
}

.background-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  opacity: 0.3;
}

.postoffice-mailbox {
  position: absolute;
  top: 80px;
}

.postoffice-mailbox img {
  width: 1080px;
  height: 600px;
}

.postoffice-mailbox button {
  position: absolute;
  top: 200px;
  width: 150px;
  height: 350px;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 40;
}

.sol-paper-container {
  position: absolute;
  width: 100%;
}

.sol-paper-container div {
  z-index: 50;
}

.size-paper {
  width: 400px;
  height: 520px;
}

.read-style {
  display: none;
}

.write-style {
  margin: auto;
}

@media (min-width: 1280px) {
  .read-style {
    display: block;
    margin-left: 300px;
  }
  .write-style {
    margin-right: 300px;
  }
}

.sol-paper-left img {
  transform: rotate(-2deg);
}

.sol-paper-right img {
  transform: rotate(8deg);
}

.no-data {
  width: 100%;
  height: 100%;
  font-size: xx-large;
}

.letter {
  margin-left: 64px;
}

.letter-title {
  margin-top: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.letter-main {
  width: 250px;
  height: 280px;
  overflow: hidden;
  font-size: 1.5rem;
}

.letter-date {
  margin-right: 48px;
}

.letter-main-form {
  font-size: 27px;
  outline: none;
  resize: none;
  border: none;
  width: 300px;
  background: transparent;
  margin-top: 100px;
  margin-left: 48px;
}

.write-letter {
  height: 100%;
}

.send-button {
  position: absolute;
  bottom: 30px;
  width: 400px;
}

.send-button input {
  margin-right: 64px;
}

.read-button {
  position: absolute;
  bottom: 30px;
  margin-left: 75px;
  width: 300px;
}

.solve-title h1 {
  font-size: 32px;
  width: 270px;
}

.solve-title h3 {
  font-size: 24px;
}

@media (min-width: 768px) {
  .solve-title h1 {
    width: auto;
    font-size: 48px;
  }
  
  .solve-title h3 {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .solve-title h1 {
    font-size: 60px;
    width: auto;
  }
  
  .solve-title h3 {
    font-size: 48px;
  }
}
