{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'src/styles/my-mail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
  <div class="mails">
    {% for letter in letters %}
    <div class="mail-button-container">
      <a href="{% url 'page-read-letter' letter.pk %}" class="mail-button">
        <div class="mail">
          <img src="{% static 'images/mail.png' %}" alt="">
          <div class="mail-info">
            <div class="text-center mr-6"><p>{{ letter.selected_date }}</p></div>
            <div class="mt-24 text-2xl text-white-base"><p>제목: {{ letter.title }}</p></div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  <img src="{% static 'images/background.jpg' %}" alt="background" class="background-img">
</main>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'src/app/myMails.js' %}"></script>
{% endblock %}
