{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'src/styles/write.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<session class="info">
  <div class="description text-center">
    <span class="main-title"><h1 class="text1">당신의 고민을 적어 신비한 우체통에 넣어주세요</h1></span>
    <span class="sub-title"><h4 class="text2">과거, 혹은 미래로부터 당신의 고민을 해결해주는 편지지가 우체통 너머 도착할 거랍니다.</h4></span>
  </div>
  <div class="scroll"></div>
</session>
<session class="h-screen">
  <div class="flex justify-center w-full write-form-container">
    <img src="{% static 'images/paper.png' %}" alt="" class="write-form-size">
    <form method="POST" class="reveal write-form-size write-form"> {% csrf_token %}
      <div class="container">
        {{ form.title }}
        {{ form.main }}
      </div>
      <div class="flex flex-row items-center tail">
        <div class="date">
          <label for="choose">날짜:</label>
          {{ form.selected_date }}
        </div>
        <input type="submit" name="submit" class="send" value="보내기"></input>
      </div>
    </form>
  </div>
</session>
{% endblock %}

{% block script %}
<script>
  const textWrapper = document.querySelector( '.m14' );
  textWrapper.innerHTML = textWrapper.textContent.replace( /\S/g, "<span class='letter1'>$&</span>" );

  anime.timeline( { loop: true } )
    .add( {
      targets: '.ml4 .letter1',
      opacity: [0, 1],
      easing: "easeInOutQuad",
      duration: 5250,
      delay: ( el, i ) => 150 * ( i + 1 )
    } )
    .add( {
      targets: '.ml4',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    } )
</script>
<script>
  function reveal() {
    let reveal = document.querySelector( ".reveal" );
    let windowHeight = window.innerHeight;
    let elementTop = reveal.getBoundingClientRect().top;
    let elementVisible = 960;
    if ( elementTop < windowHeight - elementVisible ) {
      reveal.classList.add( "active" );
    } else {
      reveal.classList.remove( "active" );
    }
  }
  window.addEventListener( "scroll", reveal );
</script>
{% endblock %}
