{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
  <div class="title-slot">
    <h1 class="text-ko">{% block main_title %}{% endblock main_title %}</h1>
    <h2 class="text-ko">{% block sub_title %}{% endblock sub_title %}</h2>
  </div>
  <div class="form-base">
    <form method="post" id="user-login"> {% csrf_token %}
      {% for field in form %}
      {% if field.name != 'validate' %}
      <div class="field-base">
        <div>
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        {{ field }}
        {{ field.errors }}
      </div>
      {% endif %}
      {% endfor %}
      <div class="field-base">
        <input type="submit" name="submit" value="{{ submit_value }}" class="submit-btn">
      </div>
    </form>
  </div>
</div>
{% endblock %}