{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
  <div class="title-slot">
    <h1 class="text-ko">신비한 우체국</h1>
    <h2 class="text-ko">회원가입</h2>
  </div>
  <div class="form-base">
    <form method="post" id="user-signup"> {% csrf_token %}
      {% for field in form %}
        {% if field.name != 'validate' %}
        <div class="field-base">
          <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
          {{ field }}
          {{ field.errors }}
        </div>
        {% endif %}
      {% endfor %}
      <div class="field-base">
        <input type="submit" name="submit" value="회원가입하기" class="submit-btn">
      </div>
    </form>
  </div>
</div>
{% endblock %}