@font-face {
    font-family: 'UhBeeann';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeann.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'UhBeeann';
}
html,
body {
    width: 100%;
    height: 100%;
}
body {
    background-image: url(../img/success_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo {
    color: aliceblue;
    font-size: 50px;
    font-weight: bold;
}
.nav-right {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    font-size: 30px;
}
.nav-right:hover {
    text-decoration: underline;
}
.logout-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
a {
    text-decoration: none;
}
.cmt {
    width: 100%;
    font-size: 60px;
    margin-top: 150px;
}
.comment {
    text-align: center;
    color: aliceblue;
    -webkit-animation: fadein 4s;
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}