@font-face {
  font-family: 'UhBeeann';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeann.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'UhBeeann';
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.signup-layout {
  display: flex;
  justify-content: center;
  color: aliceblue;
  align-items: center;
}
.signup-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.signup-form-container h1 {
  font-size: 84px;
  margin-bottom: auto;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
h1 {
  text-align: center;
}
form {
  text-align: center;
}
.btn {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 36px;
  box-shadow: 0 5px #999;
  cursor: pointer;
}
.homebtn {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px #999;
}
.btn:active,
.homebtn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.errorlist {
  position: relative;
  list-style: none;
  font-size: 12px;
  color: red;
}

.field {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.field span {
  position: relative;
  width: 120px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  width: 200px;
}
