body {
  background-image: url(../img/solve-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.post-img {
  height: fit-content;
  position: absolute;
  top: 80px;
}

.post-img img {
  width: 1080px;
  height: 600px;
}
