{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/typeit@8.6.6/dist/index.umd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <link href="{% static 'css/index.css' %}" rel="stylesheet">
  {% block style %}{% endblock style %}
  <title>신비한 우체국</title>
</head>

<body>
  {% if view_name == 'page-index' %}
  <nav class="container">
    <h1 class="logo">신비한 우체국</h1>
    {% if not is_logined %}
    <div>
      <a href="{% url 'page-login' %}" class="nav-right">로그인</a>
      <a href="{% url 'page-signup' %}" class="nav-right">회원가입</a>
    </div>
    {% else %}
    <div>
      <a href="" class="nav-right">내 메일함</a>
      <a href="{% url 'page-logout' %}" id="logout-nav-button" class="nav-right">로그아웃</a>
    </div>
    {% endif %}
  </nav>
  {% endif %}

  {% block content %}{% endblock content %}
  <img src="{% static 'img/background.jpg' %}" alt="">
  <script type="module" src="{% static 'js/main.js' %}"></script>
  <script>
    document.addEventListener( 'DOMContentLoaded', () => {
      new TypeIt( '.logo' )
        .pause( 1000 )
        .go();

    } );
    const textWrapper = document.querySelector( '.ml3' );
    textWrapper.innerHTML = textWrapper.textContent.replace( /\S/g, "<span class='letter'>$&</span>" );

    anime.timeline( { loop: true } )
      .add( {
        targets: '.ml3 .letter',
        opacity: [0, 1],
        easing: "easeInOutQuad",
        duration: 2250,
        delay: ( el, i ) => 150 * ( i + 1 )
      } )
      .add( {
        targets: '.ml3',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
      } );
  </script>
</body>

</html>