.letter-wrapper {
    width: 400px;
    height: 500px;
}

.letter-container {
    position: relative;
    top: 20px;
    z-index: 2;
    width: 300px;
    margin: auto;
}

.letter-main {
    height: 300px;
}

.letter-background-img {
    position: relative;
    bottom: 400px;
    z-index: 1;
    width: 400px;
    height: 500px;
}
