{% extends 'base.html' %}
{% load static %}

{% block style %}
<link href="{% static 'css/solve.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
  <div class="hidden" id="sol-write">
    <div class="background-wrapper z-50" id="postoffice-background-wrapper"></div>
    <div class="flex flex-row sol-paper-container">
      <div class="sol-paper-left read-style size-paper">
        <img class="w-full" src="{% static 'img/paper.png' %}" alt="solution-letter">
      </div>
      <div class="sol-paper-right write-style size-paper">
        <img class="w-full" src="{% static 'img/paper.png' %}" alt="solution-letter">
      </div>
    </div>
    <div class="flex flex-row sol-paper-container">
      <div class="read-style size-paper">

      </div>
      <div class="write-style size-paper">
  
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <div class="flex flex-col items-center text-white-base z-20 fadein">
      <h1 class="text-6xl py-3">미래, 혹은 과거로부터 온 고민들을 여러분이 직접 해결해주세요.</h1>
      <h3 class="text-5xl py-2">우체통을 눌러 편지지를 확인해보세요.</h3>
    </div>
    <div class="flex flex-col items-center postoffice-mailbox z-10" id="postoffice-mailbox">
      <img src="{% static 'img/post.png' %}" alt="post">
      <button type="button" id="postoffice-mailbox-button"></button>
    </div>
  </div>
</main>
{% endblock %}
